*{
    margin: 0%;
}

.navbar-toggler {
    margin-left: auto;
}


h2{
        font-family: "Lexend", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
}

.overlay{
    position: absolute;
    top: 40%;
    margin-left: 20%;
}
.shopping{
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 140px;
}
.shopping:hover{
    background-color: rgb(244, 205, 211);
}

.para-head{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: x-large;
    margin-top: 30px;
}

.para-1{
    text-align: left;
}

.sec-2{
    text-align: center;
    background-color: rgb(249, 190, 80);
    color: white;
    padding: 20px;
}

.card-body{
    background-color: rgb(249, 190, 80);
}

.card-title{
    font-size: medium;
    font-weight: bold;
}

.card-text{
    color: white;
}

.btn-card{
    border-radius: 40px;
    border: none;
    position: absolute;
    top: 5%;
    margin-left: 10px;
    background-color: rgb(249, 190, 80);
    height: 30px;
    width: 105px;
    
}

.image-container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}


.image-container .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .caption {
    opacity: 1;
}

.image-container:hover img {
    transform: scale(1.1);
}

.btn-learn{
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 140px;
    margin-left: 25%;
    
}

.btn-learn:hover{
    background-color: rgb(244, 205, 211);
}

.sec-2 .h4-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.sec-2 p{
    margin-right: 45%;
}

.card-link{
    text-decoration: none;
    color: rgb(249, 190, 80);
}

.card-titlen{
    font-size: 300%;
    font-weight: bolder;
    color: rgb(249, 190, 80);
}

.overlayy{
    font-weight: bold;
    position: absolute;
    top: 18%;
}
/* .card{
    border: none;
    
} */

.map{
    width: 100%;
}

iframe{
    margin-top: 15px;
}




